<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="Celebrating the New Academic Year"

>
  <image imageURL="images/Archives-logo-facebook-version-5.jpg"
	thumbURL="thumbs/Archives-logo-facebook-version-5.jpg"
	linkURL="images/Archives-logo-facebook-version-5.jpg"
	linkTarget="_blank"
	sourcePath="N:\1 Digital Archives\Facebook\Archives-logo-facebook-version-5.png">
    <title><![CDATA[]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/logo_60s.jpg"
	thumbURL="thumbs/logo_60s.jpg"
	linkURL="images/logo_60s.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\logo_60s.jpg">
    <title><![CDATA[Caltech logo from the cover of the 1968 Big T (student yearbook).]]></title>
    <caption><![CDATA[(1968)]]></caption>
  </image>
  <image imageURL="images/Students_classes_faculty.jpg"
	thumbURL="thumbs/Students_classes_faculty.jpg"
	linkURL="images/Students_classes_faculty.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Students_classes_faculty.jpg">
    <title><![CDATA[Teaching and Learning. Physics 1 class - Introductory Classical and Modern Physics. Professor Rochus Vogt is teaching.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Students_classes_steps.jpg"
	thumbURL="thumbs/Students_classes_steps.jpg"
	linkURL="images/Students_classes_steps.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Students_classes_steps.jpg">
    <title><![CDATA[Students listening in what is now the Feynman Lecture Hall (formerly 201 E. Bridge).]]></title>
    <caption><![CDATA[(1965; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/A_1969_humanities class_b.jpg"
	thumbURL="thumbs/A_1969_humanities class_b.jpg"
	linkURL="images/A_1969_humanities class_b.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\A_1969_humanities class_b.jpg">
    <title><![CDATA[Humanities are best taught in the midst of Nature.]]></title>
    <caption><![CDATA[(1969; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/students_classes_blackboard_w.jpg"
	thumbURL="thumbs/students_classes_blackboard_w.jpg"
	linkURL="images/students_classes_blackboard_w.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_classes_blackboard_w.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/students_campus.jpg"
	thumbURL="thumbs/students_campus.jpg"
	linkURL="images/students_campus.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_campus.jpg">
    <title><![CDATA[Students leaving classes. In the distance the east façade of Throop Hall.]]></title>
    <caption><![CDATA[(1965, photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/students_studying_campus_w.jpg"
	thumbURL="thumbs/students_studying_campus_w.jpg"
	linkURL="images/students_studying_campus_w.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_studying_campus_w.jpg">
    <title><![CDATA[Studying.]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/students_studying_library.jpg"
	thumbURL="thumbs/students_studying_library.jpg"
	linkURL="images/students_studying_library.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_studying_library.jpg">
    <title><![CDATA[Studying in the Morgan Library.]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/studing in dorms_feynmanlect.jpg"
	thumbURL="thumbs/studing in dorms_feynmanlect.jpg"
	linkURL="images/studing in dorms_feynmanlect.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\studing in dorms_feynmanlect.jpg">
    <title><![CDATA[Lab, office, and dorm room, all in one.]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/studing in dorms_typewriter.jpg"
	thumbURL="thumbs/studing in dorms_typewriter.jpg"
	linkURL="images/studing in dorms_typewriter.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\studing in dorms_typewriter.jpg">
    <title><![CDATA[Writer's block?]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Studing_lab.jpg"
	thumbURL="thumbs/Studing_lab.jpg"
	linkURL="images/Studing_lab.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Studing_lab.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1965; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/studying_notebook.jpg"
	thumbURL="thumbs/studying_notebook.jpg"
	linkURL="images/studying_notebook.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\studying_notebook.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(Ca. 1965; photo credit: Leigh Wiener)]]></caption>
  </image>
  <image imageURL="images/A_1966 plasma.jpg"
	thumbURL="thumbs/A_1966 plasma.jpg"
	linkURL="images/A_1966 plasma.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\A_1966 plasma.jpg">
    <title><![CDATA[In the Lab. Plasma physics experiment in Steele Laboratory.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Biology.jpg"
	thumbURL="thumbs/Biology.jpg"
	linkURL="images/Biology.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Biology.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Electrical engineering.jpg"
	thumbURL="thumbs/Electrical engineering.jpg"
	linkURL="images/Electrical engineering.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Electrical engineering.jpg">
    <title><![CDATA[An electrical engineering student.]]></title>
    <caption><![CDATA[(1960; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/A_1967 geology.jpg"
	thumbURL="thumbs/A_1967 geology.jpg"
	linkURL="images/A_1967 geology.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\A_1967 geology.jpg">
    <title><![CDATA[A student uses a trailer-mounted equipment to record micro-earthquakes along the San Andreas fault.]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/A_1967 students_magnetic spectrometer.jpg"
	thumbURL="thumbs/A_1967 students_magnetic spectrometer.jpg"
	linkURL="images/A_1967 students_magnetic spectrometer.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\A_1967 students_magnetic spectrometer.jpg">
    <title><![CDATA[Undergraduate research students operating a digital frequency-sweep nuclear-magnetic-resonance spectrometer.]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/ascit.jpg"
	thumbURL="thumbs/ascit.jpg"
	linkURL="images/ascit.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\ascit.jpg">
    <title><![CDATA[Student Activities. A meeting of the Associated Students of the California Institute of Technology (ASCIT) .]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/students_world.jpg"
	thumbURL="thumbs/students_world.jpg"
	linkURL="images/students_world.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_world.jpg">
    <title><![CDATA[The International Games at Caltech]]></title>
    <caption><![CDATA[(1965; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/students_world_door.jpg"
	thumbURL="thumbs/students_world_door.jpg"
	linkURL="images/students_world_door.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_world_door.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1965; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Field.jpg"
	thumbURL="thumbs/Field.jpg"
	linkURL="images/Field.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Field.jpg">
    <title><![CDATA[Sports. Track and Field.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/football1.jpg"
	thumbURL="thumbs/football1.jpg"
	linkURL="images/football1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\football1.jpg">
    <title><![CDATA[Playing football in front of the Athenaeum.]]></title>
    <caption><![CDATA[(1965; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/football_shoes.jpg"
	thumbURL="thumbs/football_shoes.jpg"
	linkURL="images/football_shoes.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\football_shoes.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/karate.jpg"
	thumbURL="thumbs/karate.jpg"
	linkURL="images/karate.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\karate.jpg">
    <title><![CDATA[Caltech's Karate Club, founded in 1958, is the oldest collegiate karate organization in America.]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/swimming.jpg"
	thumbURL="thumbs/swimming.jpg"
	linkURL="images/swimming.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\swimming.jpg">
    <title><![CDATA[The Swim Team.]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Basket.jpg"
	thumbURL="thumbs/Basket.jpg"
	linkURL="images/Basket.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Basket.jpg">
    <title><![CDATA[Basketball.]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/glee_beckman bw.jpg"
	thumbURL="thumbs/glee_beckman bw.jpg"
	linkURL="images/glee_beckman bw.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\glee_beckman bw.jpg">
    <title><![CDATA[Performing Arts. The Glee Club, directed by Olaf Frodsham, performing at the Beckman Auditorium. The Club was founded in 1920.]]></title>
    <caption><![CDATA[(1964; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/glee_throop.jpg"
	thumbURL="thumbs/glee_throop.jpg"
	linkURL="images/glee_throop.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\glee_throop.jpg">
    <title><![CDATA[A formal picture of the Glee Club members in front of Throop Hall, Caltech's first building. ]]></title>
    <caption><![CDATA[(1960s; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/music_trombone.jpg"
	thumbURL="thumbs/music_trombone.jpg"
	linkURL="images/music_trombone.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\music_trombone.jpg">
    <title><![CDATA[A reharsal of the Caltech Band with conductor John C. Deichman.]]></title>
    <caption><![CDATA[(1966; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/music_feet.jpg"
	thumbURL="thumbs/music_feet.jpg"
	linkURL="images/music_feet.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\music_feet.jpg">
    <title><![CDATA[A Caltech trademark.]]></title>
    <caption><![CDATA[(1966; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/theater_w.jpg"
	thumbURL="thumbs/theater_w.jpg"
	linkURL="images/theater_w.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\theater_w.jpg">
    <title><![CDATA[The ASCIT production of  "The Castle" performed in Beckman Auditorium. An orginal musical play by students Dan Nemzer and Mike Garet.]]></title>
    <caption><![CDATA[(1968; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/theater_singing.jpg"
	thumbURL="thumbs/theater_singing.jpg"
	linkURL="images/theater_singing.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\theater_singing.jpg">
    <title><![CDATA[A duet scene from The Castle]]></title>
    <caption><![CDATA[(1968; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/talentshow_singing.jpg"
	thumbURL="thumbs/talentshow_singing.jpg"
	linkURL="images/talentshow_singing.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\talentshow_singing.jpg">
    <title><![CDATA[The Talent Show featured performances by undergraduate and graduate students, faculty and staff.]]></title>
    <caption><![CDATA[(1966; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/radio_antenna.jpg"
	thumbURL="thumbs/radio_antenna.jpg"
	linkURL="images/radio_antenna.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\radio_antenna.jpg">
    <title><![CDATA[Clubs. Caltech Radio Club members working atop Spaulding building.]]></title>
    <caption><![CDATA[(1960s; photo credit unknown)]]></caption>
  </image>
  <image imageURL="images/flying.jpg"
	thumbURL="thumbs/flying.jpg"
	linkURL="images/flying.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\flying.jpg">
    <title><![CDATA[The Caltech Flying Club began in 1966 with 19 members and a new two-place Cessna 150.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/sailing3.jpg"
	thumbURL="thumbs/sailing3.jpg"
	linkURL="images/sailing3.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\sailing3.jpg">
    <title><![CDATA[The Caltech Sailing Club christens its new 16-foot boat in Millikan Pond.]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/sailing1.jpg"
	thumbURL="thumbs/sailing1.jpg"
	linkURL="images/sailing1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\sailing1.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/interhouse egypt_detail.jpg"
	thumbURL="thumbs/interhouse egypt_detail.jpg"
	linkURL="images/interhouse egypt_detail.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\interhouse egypt_detail.jpg">
    <title><![CDATA[Fun. Preparations for Egyptian-themed Interhouse Dance.]]></title>
    <caption><![CDATA[(1962; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/interhouse egypt_built.jpg"
	thumbURL="thumbs/interhouse egypt_built.jpg"
	linkURL="images/interhouse egypt_built.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\interhouse egypt_built.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1962; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/interhouse egypt_sphinx.jpg"
	thumbURL="thumbs/interhouse egypt_sphinx.jpg"
	linkURL="images/interhouse egypt_sphinx.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\interhouse egypt_sphinx.jpg">
    <title><![CDATA[]]></title>
    <caption><![CDATA[(1962; photo credit: McClanahan)]]></caption>
  </image>
  <image imageURL="images/dancing.jpg"
	thumbURL="thumbs/dancing.jpg"
	linkURL="images/dancing.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\dancing.jpg">
    <title><![CDATA[Interhouse dancers.]]></title>
    <caption><![CDATA[(1964 and 1965; photo credit: Bob Geoffrey)]]></caption>
  </image>
  <image imageURL="images/students_unicycle.jpg"
	thumbURL="thumbs/students_unicycle.jpg"
	linkURL="images/students_unicycle.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\students_unicycle.jpg">
    <title><![CDATA[The most popular student vehicles on campus.]]></title>
    <caption><![CDATA[(1961; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/ditch_day.jpg"
	thumbURL="thumbs/ditch_day.jpg"
	linkURL="images/ditch_day.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\ditch_day.jpg">
    <title><![CDATA[Undergraduates trying to solve a scavenger hunt set up by Seniors during the annual Ditch Day.]]></title>
    <caption><![CDATA[(1967; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/Mudeo_teams.jpg"
	thumbURL="thumbs/Mudeo_teams.jpg"
	linkURL="images/Mudeo_teams.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\Mudeo_teams.jpg">
    <title><![CDATA[Mudeo, one of the most celebrated student activities of the 1960s, consisted of student mud fights and other games.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
  <image imageURL="images/mudeo4.jpg"
	thumbURL="thumbs/mudeo4.jpg"
	linkURL="images/mudeo4.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\mudeo4.jpg">
    <title><![CDATA[Mudeo games.]]></title>
    <caption><![CDATA[(1968; photo credit: Bruce Abele)]]></caption>
  </image>
  <image imageURL="images/mudeo1.jpg"
	thumbURL="thumbs/mudeo1.jpg"
	linkURL="images/mudeo1.jpg"
	linkTarget="_blank"
	sourcePath="Z:\Archives\Elisa\Students\Low res\mudeo1.jpg">
    <title><![CDATA[Mudeo: game over.]]></title>
    <caption><![CDATA[(1966; photo credit: unknown)]]></caption>
  </image>
</juiceboxgallery>